@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.home-page-setup {
  @apply w-screen h-screen font-custome_font_1 bg-custom-gradient;
}

.flex-horizontal {
  @apply flex justify-center items-center
}

.flex-verticle {
  @apply flex flex-col items-center justify-center;
}

.flex-between {
  @apply w-full flex justify-between;
}

.head-font {
  @apply font-medium text-5xl max-md:text-2xl max-lg:text-3xl;
}

.para-font {
  @apply font-medium text-xl max-md:text-lg max-sm:text-base text-justify;
}
