@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.prev-button {
}
.next-button {
  border-color: var(--neutral-300);
  color: var(--neutral-800);
  transform-style: preserve-3d;
  border-radius: 12px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  transition: transform 0.35s, color 0.35s;
  display: flex;
}
.cta-button {
  border-color: var(--neutral-300);
  color: var(--white);
  transform-style: preserve-3d;
  border-radius: 12px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  transition: transform 0.35s, color 0.35s;
  display: inline-flex;
  justify-content: center;
  border: 1px solid var(--neutral-400);
  background-color: var(--neutral-800);
  width: 200px;
  column-gap: 6px;
}
#submit-here {
  border-color: var(--neutral-300);
  color: var(--white);
  transform-style: preserve-3d;
  border-radius: 12px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  transition: transform 0.35s, color 0.35s;
  display: inline-flex;
  justify-content: center;
  border: 1px solid var(--neutral-400);
  background-color: var(--neutral-800);
  width: 200px;
  text-align: center;
  margin-top: 20px;
  margin-left: 5px;
}
.prev {
  transform-style: preserve-3d;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: transform 0.35s, color 0.35s;
  padding: 16px 32px;
  border: 1px solid var(--neutral-800);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: transform 0.35s, color 0.35s;
  transform-style: preserve-3d;
}
.nex {
  border: 1px solid var(--neutral-400);
  background-color: var(--neutral-800);
  border-color: var(--neutral-300);
  color: var(--white);
  transform-style: preserve-3d;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: transform 0.35s, color 0.35s;
  padding: 16px 32px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: transform 0.35s, color 0.35s;
  transform-style: preserve-3d;
}
.prev-nex {
  justify-content: center;
  align-items: center;
}
.nex:hover {
  transform: scale3d(0.94, 0.94, 1.01);
}
.cta-button:hover {
  transform: scale3d(0.94, 0.94, 1.01);
}
.cta-button span {
  transition: transform 0.35s, color 0.35s;
  transform-style: preserve-3d;
}
.cta-button:hover span {
  margin-left: 10px;
}
.fade-in-bottom {
  opacity: 0;
  transform: translateY(30px); /* Start position */
  animation: fadeInBottom 0.6s ease-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInBottom {
  to {
    opacity: 1;
    transform: translateY(0); /* End position */
  }
}
/* 
.question-card{
    transform-style: preserve-3d;
    border-radius: 16px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform .35s;
    display: flex;
    align-items: start;
    border: 1px solid var(--neutral-400);
    background-color: var(--white);
    color: var(--neutral-600);
    transform-style: preserve-3d;
    border-radius: 24px;
    padding: 24px 24px 24px;
    text-decoration: none;
    transition: transform .35s, color .35s;
    box-shadow: 0 2px 8px rgba(20, 20, 43, .03);
}
.question-card:hover {
    transform: scale3d(.94, .94, 1.01);
    box-shadow: 0 1px 5px rgba(20, 20, 43, .02);
    border-width: 3px;
    border-color: var(--secondary-2);
}
*/
.profile-img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 50%;
  text-align: center;
  display: inline;
  margin-bottom: 19px;
}
.home-div {
  width: 820px;
  height: auto;
  margin: 200px auto;
  background-color: var(--neutral-200);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  row-gap: 10px;
}
@media (max-width: 820px) {
  .home-div {
    width: 80%;
    height: auto;
    margin: 200px auto;
    background-color: var(--neutral-200);
    border-radius: 24px;
  }
}
@media (max-width: 475px) {
  .home-div {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    background-color: transparent !important;
  }
  .profile-img {
    width: 200px;
    height: 200px;
    display: inline-flex;
    margin: auto;
  }
  .cta-button {
    width: 90%;
    text-align: center;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
  }
}
a {
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.home-div div {
  width: 100%;
}
.bg-black {
  background-color: #080808;
}
.option-input {
  margin-top: 5px;
}
.option-card.selected {
  transform: scale3d(0.94, 0.94, 1.01);
  box-shadow: 0 1px 5px rgba(20, 20, 43, 0.02);
  border-width: 3px;
  border-color: var(--secondary-2); /* Change border color on selection */
}
.option-card {
  transform-style: preserve-3d;
  border-radius: 16px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: transform 0.35s;
  display: flex;
  align-items: start;
  border: 1px solid var(--neutral-400);
  background-color: var(--white);
  color: var(--neutral-600);
  transform-style: preserve-3d;
  border-radius: 24px;
  padding: 24px 24px 24px;
  text-decoration: none;
  transition: transform 0.35s, color 0.35s;
  box-shadow: 0 2px 8px rgba(20, 20, 43, 0.03);
}
p {
  color: #4f4f4f;
}
.card {
  width: 400px;
  height: 400px;
  border-radius: 18px;
  background: #fff;
  padding: 24px 36px;
  flex-shrink: 0;
}
.result-card {
  width: 600px;
  height: 400px;
  border-radius: 18px;
  background: #fff;
  padding: 36px 62px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
}
@media (max-width: 475px) {
  .card {
    width: 100% !important;
    height: 400px !important;
  }
  .result-card {
    width: 100%;
    padding: 26px 20px;
  }
}
.cards-container::-webkit-scrollbar {
  display: none;
}

.cards-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
  cursor: grab;
}
.gradient-bg-box {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.gradient-bg-one {
  position: absolute;
  border-radius: 45.33913rem;
  background: rgba(255, 235, 82, 0.24);
  filter: blur(228.81715393066406px);
  height: 50%;
  width: 50%;
  left: 10%;
}
.gradient-bg-two {
  position: absolute;
  border-radius: 42.31425rem;
  background: rgba(28, 255, 164, 0.21);
  filter: blur(228.81715393066406px);
  height: 50%;
  width: 50%;
  right: 10%;
}
